html{
font-style: 'Lucida Console', monospace;
}

.faucon{
	width: 100%;
	height: 100%;
}

#cercle {
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    background:  #ffffff;
}


#cercle-2 {
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    background:  #ffffff;
}

#cercle-3 {
    width: 400px;
    height: 400px;
    transform: rotate(45deg);
    background:  #ffffff;
}


.rotate{
	transform: rotate(-45deg);
	padding-top: 80px;
	padding-left: 100px;
	padding-right: 100px;
	margin-left: -150px;
	text-decoration: underline;
}

.rotate-3{
	transform: rotate(-45deg);
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 100px;
	margin-left: -100px;
	text-decoration: underline;
}

.rotate-text{
	transform: rotate(-45deg);
	margin-left: 50px;
}


.style{
	padding-top: 75px;
}

#CV{
	background-image: url(http://image.noelshack.com/fichiers/2018/38/4/1537428137-fondcv.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}



.card-title{
font-size: 35px;
padding-left:15px;
padding-bottom: 15px;
}  

/* Text in Card for presentation */

.card-text{
font-size: 15px;
padding-left:15px;
padding-bottom: 15px;
}


.presentation{
padding-top: 100px;
padding-bottom: 200px;
}

.card-body{
background-color: #4d4d4d;
}

section h2{
font-size: 450%;
color: black;
text-decoration: underline;
padding-bottom: 30px;
}

.vl {
border-left: 6px solid black;
height: 1430px;
position: absolute;
left: 50%;
margin-left: -3px;
padding-top: 00px;
}

div.jumbotron{
width: 500px;
height: 200px;
background-color:
padding-top: -250px;
}

section.ln{
background-color: white;
}

section h3{
font-size: 50px;
}


div h3{
padding-bottom: 20px;
}


i {
font-style: italic;
font-size: 10px;
}

.fa2x{
    line-height: 0;
    font-size: 1.5em;
}

/* li{
    display: flex;
    justify-content: space-around;
    align-items: center;

} */

.scrollspy-example {
position: relative;
height: 350px;
overflow: auto;
padding-bottom: 150px;
padding-top: 50px;

}

table, tr, td{
border-color: white;
border: solid black 1px;
color: black;
padding:15px 15px 15px 015px;
}


.eagle-one{
font-size: 30px;
text-align: center;
border-radius: 50%;
}

.eagle-two{
font-size: 18px;
}

#spy{
padding-top: 100px;
}

.arrondie{
border-radius: 30px 0px;
width: 75px;
}

.fas{
size: 30px 
}

.eagle-three{
padding-top: 500px;
width: 600px;
}

.dropdown{
padding-bottom: 30px;
}

.fab{
font-size: 50px;
color: whitesmoke;
}

.inactive{
	color: transparent;
	padding-bottom: -550px;
	font-size: 0px;
}

div hr{
	display: none;
	width: 1px;
}

section{
padding-bottom: 100px;
}


@media screen and (min-width: 300px) and (max-width: 1300px){
	.eaglee{
		display: none;
	}
}

@media screen and (max-width: 900px){
	#cercle {
    display: none;
	}

	#cercle-2 {
	    display: none;
	}
	.inactive{
	color: white;
	font-size: 15px;
	}
	#cercle-3 {
	    display: none;
	}

	.pres-img{
		width: 60px;
		height: 60px;
	}



.show{   
    position: absolute;
    top: 91px;
    right: 0;
    background-color: rgba(52, 58, 64,0.7);
    padding: 15px;

}

/* Padding Top added to #selector to see title */

#Presentation,#CV,#Actu,#contact{
    padding-top: 100px;
